 /*common*/


.overlay{
    position:absolute;
    width:  100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(3, 3, 3, 0.7);
}
.hover-opacity{
    transition: opacity .5s;
}
.hover-opacity:hover{
opacity: 0.8;
}

/*general css*/
:root{
    --maincolor:#6195ff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
.container{
    width: 80%;
  
    margin: auto;/*elment in the center*/
}
body{
    font-family: 'Varela Round', sans-serif;
}
.clear{
    clear: both;
}
h1,h2,h3,h4,h5,h6{
    font-family: montserrat,sans-serif;
}
button{
    font-family: inherit;
}
a{
    text-decoration: none;
}
.pd-y{
    padding: 120px 0;
}
.section-header{
    text-align: center;
    margin-bottom: 20px;
}
.section-header .section-title{
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.section-header .line{
display: block;
height: 5px;
width: 60px;
margin: 0 auto 70px auto;
background-color: var(--maincolor);
}
 
.ltr-effect,.tb-effect{
    position: relative;
}
.ltr-effect::after,.tb-effect::after{
position: absolute;
content: "";
top: 0;
right: 0;
left: 0;
bottom: 0;
background: #333;
z-index:-1 ;

}
.ltr-effect:hover::after{
width: 100%;
}
.ltr-effect::after{
    width: 0;
    transition: width 0.5s;
}
.tb-effect::after{
 height: 0;
 transition: height 0.5s;

}
.tb-effect:hover::after{
height: 100%;
}
/* header*/
.header{
    position:fixed;
    width: 100%;
    z-index: 15;


  }
 
 b{
     color: #ffff;
  
 }
.header .logo{
    width: 50%;
  float: left;
  
}
.header .logo img{
    width: 15%;
    margin-top: 5px;
   
}
.header .nav{
    width: 50%;
    float: left;
    list-style: none;
    text-align: right;
}
.header .nav > li{
    display: inline-block;
    
    text-align: right;
}
.header .nav > li > a{
    color: #fff;
    font-size: 15px;
  
    display: block;
    padding: 30px 15px;
}
 
.header .nav > li > a.active:after{
content: "";
display: block;
margin-top: 2px;
height: 3px;
background-color: #6195ff;
transition: width 0.5s;

}
.header .nav > li > a.active:after{
    width: 100%;
}

.header .nav > li > a:after{
width: 0;
}
.header .nav > li > a:hover::after{
    width: 100%;
    }
    .dropdown{
        position: relative;
    }
    .dropdown-menu{
        position: absolute;
        background: #6195ff;
        width: 150px;
        text-align: right;
        left: -50%;
        top: 70%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s;
    }
    .dropdown-menu a{
        color:#fff;
        display: block;
        padding: 10px;
     
    }
    .dropdown:hover .dropdown-menu{
        opacity: 1;
        visibility:visible;
    }
/*Home section*/
.home{
    height: 100vh;
    background-image: url(../img/background.png);
    background-size: cover;
    position: relative;
}
.home-content{
    position: absolute;
    width: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
}
.home .title{

margin: 20px 0;
color: var(--maincolor);
letter-spacing: 2px;
line-height: 1.5;
}
.home .home-desc{
    color: #fff;
    font-size: 3.5rem;
    text-transform: uppercase;
}
.home .btn{
    max-width: 150px;
    padding: 15px 0;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-size: 18px; 
}
 
.home .btn-learn{
    background-color: #6195ff;
    color:#fff;
    
}
 
nav{
    font-size: 18px;
}
.navbar-light .navbar-brand{
    font-size: 32px;
 }
 
.navbar-light .navbar-nav .nav-link{
    color: black;
}
 
 #cplue{
     color:#1E97D5 ;
 }
 .bplue{
background-color: #dce0e4;
 color: #1E97D5;
 }
 .fleft{
     position: relative;
     margin-top: 11%;
    margin-right: 20%;
 }
 .fright{
     position:absolute;
     right:20%;
     top: 20%;
 }
 .pcol{
     color: rgb(189, 185, 185);
     font-size: small;
 }
 
/*About section*/
 
.about-content{
    overflow: hidden;
}
.about-item{
     width: 30%;
    float: left;
text-align: center;
border: 1px solid #e8e8e8;
padding: 50px 20px;
}

.about-item.mg{
    margin: 0 5%;
}
.about-item:hover .about-item-title{
    color: #fff;
}
.about-item .icon{
    color: #6195ff;
    margin-bottom: 10px;
}
.about-item-title{
    text-transform: capitalize;
    margin-bottom: 10px;
    transition: color 0.5s;
}
.about-item-desc{
    line-height: 1.6;
    margin-bottom: 10px;
    color:#999 ;
}
.about-item-link{
color: #6195ff;
text-transform: capitalize;
}

/*number section*/
.numbers{
    position: relative;
    background-image: url(../img/background.png);
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
}
.numbers-item{
    overflow: hidden;
  
}
.number-item{
width: 25%;
float: left;
text-align: center;
}
.number-item .icon{
    color: #6195ff;
    margin-bottom: 15px;
}
.number-item-title{
    font-weight: bold;
    font-size: 30px;
    color: #fff;
  
}
.number-item-text{
    color: #fff;
}

/*Blog page*/
.blog{
    background: #f9f9f9;
}

.blog-content{
    overflow: hidden;
}
.blog-item{
    width: 30%;
    float: left;
    background: #fff;
}
.blog-item-img img{
width: 100%;
}

.blog-info{
    padding: 20px;
}

.blog-list{
    list-style: none;
    margin: 20px 0;
}
.blog-list li{
    display: inline-block;
    margin: 0 5px;
}
.blog-list li i{
    color: #6195ff;
}
.blog-title{
    font-weight: bold;
    margin: 20px 0;
}
.blog-desc{
    color: #999;
    margin-bottom: 10px;
    line-height: 1.5;
}
.blog-link{
    color: #6195ff;
}
.blog-item.mg{
    margin: 0 5%;
}

/*contact section*/

/*footer section*/
.footer{
    background: #1c1d23;
    text-align: center;
    padding: 60px 0;
}
.footer-links{
    list-style: none;
    margin: 20px 0;
}
.footer-links li{
    display: inline-block;

}
.footer-links li a{
    display: block;
    width: 50px;
    height: 50px;
    background: #6195ff;
    color: #fff;
    margin: 0 5px;
    border-radius: 50%;
}
.footer-links li a i{
    line-height: 50px;
}

.footer .copyright{
    color: #999;
    font-size: 15px;
    text-transform: uppercase;
}

 /********login******/
 
  
  /* Full-width inputs */
  input[type=text], input[type=password] ,input[type=email],input[type=number],input[type=date],input[type=submit]{
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0 ;

    display:flex;
    border: none;
    border-bottom: 1px solid #ccc;
   
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #1E97D5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
   
    border-radius: 5px;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  
 
  /* Add padding to containers */
  .container {
    padding: 16px;
    
  }
  
  .psw{
      margin-left: 60px;
  }
  .signbtn{
      color: #000;
      background-color: #fff;
      border: 1px solid #1E97D5;
  }
  .signbtn:hover{
    background-color: #1E97D5;
    opacity: 0.8;
  }
  .fname{
    position: relative;
  margin-right: 10%;
  }
  .lname {
    position: absolute;
    top: 20%;
    left: 50%;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }
  
.rate{
    margin: 10px;
    float: left;
    background: #eeeeee;
    border-radius: 30px;
}
.rate i{
    color: #ffdb00;
}
 
.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  .footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
  }
  
  .footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
  }
  
  .nav__title {
    font-weight: 400;
    font-size: 15px;
  }
  
  .footer address {
    font-style: normal;
    color: #999;
  }
  
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer__nav {
    display: flex;
      flex-flow: row wrap;
  }
  
  .footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .nav__ul a {
    color: #999;
  }
  
  .nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
  }
  
  .legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
  }
    
  .legal__links {
    display: flex;
    align-items: center;
  }
  
.social{
    padding-top: 50px;
    margin-left: 700px;
     
}
.socialItem{
   color: #1E97D5;
    border-radius: 50%;
    line-height: 2;
    margin: 15px;
}
.socialItem:hover{
    background: #6db4e4;
    border:  2px white;
    
}
  .heart {
    color: #2f2f2f;
  }
  
  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
    
    .nav__item--extra {
      flex-grow: 2;
    }
    
    .footer__addr {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
  }
/******** about page ***********/
.heroSection img{
    border-radius: 30px;
}
/******** about page ***********/

.sidebar {
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #8ed2fa;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

 

 
.topnav {

  background-color: #2ca7ee;
  overflow: hidden;
   color: white;
   align-items: center;
}
.update{

border: none;
margin-left: 100px;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}
 .col s12{
margin-top: 6px;
margin: auto;
display: block;
 }
 ul{
  list-style-type: none;
 }
 
 
form{
display: flex;
 
width: 50%;
height: 90%;
margin-top:50px;
padding:30px;
display: flex;

flex-direction: column;
justify-content: space-around;
border-radius: 5px;
}
input{
height: 30px;
border:none;
border-bottom: 1px solid gray;
outline: none;
}

 


